* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Public Sans', sans-serif;
}

/*
///////////////////
    HEADER
///////////////////
*/

.header-container {
    max-width: 130rem;
    padding: 2rem 3.2rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items {
    list-style: none;
    display: flex;
    gap: 4.4rem;
}

.nav-item:link,
.nav-item:visited {
    text-decoration: none;
    font-size: 1.4rem;
    color: #9698a6;
}

.nav-item:hover,
.nav-item:active {
    color: #2d314d;
    padding-bottom: 2.7rem;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, #31d35c, #2bb7da) 1;
}

.btn:link,
.btn:visited {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-family: inherit;
    color: #fff;
    background: linear-gradient(to right, #31d35c, #2bb7da);
    font-size: 1.4rem;
    padding: 1.2rem 3.2rem;
    border-radius: 100px;
}

.btn:hover,
.btn:active {
    opacity: 0.6;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    cursor: pointer;

    display: none;
}

.hamburger-menu span {
    display: block;
    height: 1.5px;
    width: 28px;
    background-color: hsl(233, 26%, 24%);
    transform-origin: 8px 1px;

    transition: all 0.3s;
}


.active .first-span {
    transform: rotate(45deg);
}

.active .second-span {
    display: none;
}

.active .third-span {
    transform: rotate(-45deg);
}

.backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 10;
    left: 0;
    background-image: linear-gradient(to bottom, hsl(233, 26%, 24%), transparent);
    z-index: 2;


    animation: all 1s;
}

.mobile-nav {
    position: fixed;
    width: 70%;
    background: #fff;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 3rem;

    transition: all 0.3s;
}

.mobile-nav-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
}

.mobile-nav .nav-item:hover,
.mobile-nav .nav-item:active {
    border-bottom: none;
    padding-bottom: none;
}

.hidden {
    display: none;
}

/*
///////////////////
    SECTION HERO
///////////////////
*/

.container-hero {
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-left: 10rem;
    height: 65rem;
    background: #fafafa;
}

.hero-content {
    padding: 3.2rem 5.6rem;
    flex: 2;
}

.primary-heading {
    font-size: 5.4rem;
    font-weight: 300;
    color: #2d314d;
    margin-bottom: 1.6rem;
}

.hero-text {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 2.4rem;
    max-width: 41rem;
    color: #9698a6;
}

.hero-image {
    position: relative;
    flex: 3;
    width: 100%;
    height: 65rem;
}

.hero-image::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg-intro-desktop.svg');
    background-size: 149%;
    background-position: 12% 75%;
}

.hero-image::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 120%;
    background-image: url('../images/image-mockups.png');
    background-repeat: no-repeat;
    right: 0;
    background-size: 92%;
    background-position: 290% 100%;
    /* display: none; */
}

/*
///////////////////
  SECTION FEATURES
///////////////////
*/

.section-features {
    background: #f3f4f6;
    padding: 10rem 0;
}

.main-container {
    margin: 0 auto;
    max-width: 130rem;
    padding: 0 5rem;
}

.heading-secondary {
    font-size: 3.2rem;
    font-weight: 300;
    color: #2d314d;
    margin-bottom: 2.4rem;
}

.text-secondary {
    font-size: 1.6rem;
    max-width: 62rem;
    line-height: 1.5;
    color: #9698a6;
    margin-bottom: 5.6rem;
}

.grid--cols--4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.4rem;
}

.feature-icon {
    width: 6.4rem;
    height: 6.4rem;
    margin-bottom: 2.4rem;
}

.feature-heading {
    font-size: 2rem;
    font-weight: 300;
    color: #2d314d;
    margin-bottom: 2.4rem;
}

.feature-text {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #9698a6;
    max-width: 24rem;
}

/*
///////////////////
  SECTION ARTICLES
///////////////////
*/

.section-articles {
    background: #fafafa;
    padding: 8rem 0;
}

.article {
    width: 90%;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.article-img {
    height: 50%;
}

.article-content {
    padding: 2.6rem;
}

.article-author {
    font-size: 1rem;
    color: #9698a6;
    margin-bottom: 1.4rem;
}

.article-heading:link,
.article-heading:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    color: #2d314d;
    font-weight: 300;
    margin-bottom: 1.2rem;
}

.article-heading:hover,
.article-heading:active {
    color: #2bb7da;
}

.article-text {
    font-size: 1.2rem;
    color: #9698a6;
    line-height: 1.5;
}

/*
///////////////////
    FOOTER
///////////////////
*/

footer {
    padding: 4.4rem 0;
    background: #2d314d;
}

.grid--cols--6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 4.4rem;
}

.logo-social {
    display: flex;
    flex-direction: column;
    gap: 4.4rem;
}

.footer-logo {
    width: 100%;
}

.social {
    display: flex;
    gap: 1.2rem;
}


.social-icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: #fff;
}

.social-icon:hover {
    fill: #2bb7da;
}

.f-nav-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.f-nav-item,
.f-nav-item:link,
.f-nav-items:visited {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
}

.f-nav-item:hover,
.f-nav-item:active {
    color: #2bb7da;
}

.f-cta {
    grid-column: span 3;
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2.4rem;
}

.copy {
    font-size: 1.4rem;
    color: #9698a6;
}